<div class="story container">
 <div>
   {{story.title}}
   {{story.content}}
   {{story.image}}
 </div>
 <div>
   {{story.title}}
   {{story.content}}
   {{story.image}}
 </div>
 <div>
   {{story.title}}
   {{story.content}}
   {{story.image}}
 </div>
 <div>
   {{story.title}}
   {{story.content}}
   {{story.image}}
 </div>
<div>
  <h2>Recommended Topics</h2>

</div>
</div>
