{{#each stories as |story|}}
<div class="story container">

{{!-- uncomment to see how this link works. when they click view
profile it will send them to the profile of that user. my tutor showed
me this as a concept we may want to use for when the user is loged in 
but on the home page and want to navigate back to their profile   --}}
{{!-- <a href="/profile/{{story.user_id}}">view profile</a> --}}
  {{story.user.username}}
  {{story.title}}
  {{story.content}}
  {{story.image}}
  <div>
    {{/each}}
    <h2>Recommended Topics</h2>
  </div>
</div>

