<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{story.user.username}}</h2>
    {{story.title}}
    {{story.content}}
    {{story.image}}
    <div>
    {{#each story.tags}}
    {{name}}
    {{/each}}
    </div>
    <div>
    {{#if story.comments}}
    <section class="card">
      <div class="card-header">
        <h3>Comments</h3>
      </div>

      <div class="card-body">
        {{#each story.comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash; {{User.username}}, {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}
  {{#if story.tags}}
    <section class="card">
      <div class="card-header">
        <h3>Tags</h3>
      </div>

      <div class="card-body">
        {{#each story.tags}}
          <div>
            <p>
              {{name}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}
    </div>
</div>
 