<div class="justify-content-center text-center">
  <div class="container storyBox">
    <h2 class="singleStory">{{story.title}}</h2>
    <img src="../images/{{story.image}}" style="max-width:90%">
    <br>
    <br>
    {{story.content}}
    <div>
      <br>
      <p>Submitted By:</p>
      <h2 class="text-warning">{{{get_emoji}}} {{story.user.username}}</h2>
      {{#each story.tags}}
      {{name}}
      {{/each}}
    </div>
  </div>
  <div class="container storyBox">
    <div>
      
      <section>
        <div>
          <h3 class="singleStory">Comments</h3>
        </div>
      {{#if loggedIn}}
        <div class="container ">
          <form id="new-comment-form" class="card-body">
            <input type="hidden" name="story-id" value="{{story.id}}" />
            <label class="form-label">Add New Comment</label>
            <br>
            <textarea type="text" name="comment-description" class="form-input commentInput"></textarea>
            <br>
            <button class="btn login-btn" type="submit">ADD COMMENT</button>
          </form>
        </div>
      {{/if}}
        <div>
          {{#each story.comments}}
          <div>
          {{!-- <p>✪</p> --}}
          <p>"{{description}}" - {{user.username}}</p>
          <hr>
          </div>
          {{/each}}
        </div>
      </section>
    
    </div>
  </div>
</div>
<script src="/js/comments.js"></script>