<div class="justify-content-center text-center">
  <div class="container storyBox">
    <h2 class="singleStory">{{story.title}}</h2>
    <img src="../images/{{story.image}}">
    <br>
    <br>
    {{story.content}}
    <div>
      <br>
      <p>Submitted By:</p>
      <h2 class="text-warning">{{{get_emoji}}} {{story.user.username}}</h2>
      {{#each story.tags}}
      {{name}}
      {{/each}}
    </div>
  </div>
  <div class="container storyBox">
    <div>
      {{#if story.comments}}
      <section>
        <div>
          <h3 class="singleStory">Comments</h3>
        </div>

        <div>
          {{#each story.comments}}
          <div>
            <p>
              {{user.username}}: {{description}}
            </p>
          </div>
          {{/each}}
        </div>
      </section>
      {{/if}}
    </div>
  </div>
</div>