<div class="container">
  <div class="justify-content-center text-center">
    <h2 class="jumbotron bg-transparent text-danger">{{story.title}}</h2>
    <p>Submitted By:</p>
    <h2 class="text-warning">{{{get_emoji}}} {{story.user.username}}</h2>
    {{story.content}}
    <div>
      <img src="../images/{{story.image}}">
      {{#each story.tags}}
      {{name}}
      {{/each}}
    </div>
    <div>
      {{#if story.comments}}
      <section>
        <div>
          <h3>Comments</h3>
        </div>

        <div>
          {{#each story.comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash; {{User.username}}, {{format_date createdAt}}
            </p>
          </div>
          {{/each}}
        </div>
      </section>
      {{/if}}
      {{#if story.tags}}
      <section>
        <div>
          <h3>Tags</h3>
        </div>

        <div>
          {{#each story.tags}}
          <div>
            <p>
              {{name}}
            </p>
          </div>
          {{/each}}
        </div>
      </section>
      {{/if}}
    </div>
  </div>